name: Deployment pipeline

on: 
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  simple_deployment_pipeline:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
      - name: install dependencies
        run: npm install 
      - name: linter
        run: npm run eslint
      - name: build
        run: npm run build
      - name: test
      
        run: npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v5
        with:
            command: npm run test:e2e
            start: npm run start-prod
            wait-on: http://localhost:5000

      - name: Trigger Deployment
        if: ${{ github.event_name == 'push' }}
        run: curl https://api.render.com/deploy/srv-${{ secrets.RENDER_SERVICE_ID }}?key=${{ secrets.RENDER_API_KEY }}

  tag_release:
    runs-on: ubuntu-20.04
    needs: [simple_deployment_pipeline]
    steps:
        - name: Bump version and push tag
          if: ${{ github.event_name == 'push' }}
          uses: anothrNick/github-tag-action@1.67.0
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            WITH_V: true
            DEFAULT_BUMP: patch
